.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    position: relative;
}
.task-element {
    background-color: white;
}
.no-tasks {
    padding-top: 10px;
    margin: 0 0 0 15px;
}
.delete-all {
    position: absolute;
    right: 0;
    margin: 1px 9.5px 0px 0px;
}
.counter {
    margin-left: 15.5px;
}
.tabs {
    position: relative;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin-right: 25.8px;
}
.categories {
    position: absolute;
    margin-left: 189px;
}